<div class="ds-container" >
    <h3>{{ isUpdate === true ? "Update" : "Create" }} Dealership</h3>
    <div class="d-flex flex-column" [formGroup]="dealershipForm" (ngSubmit)="createUpdateForm()">

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Total Budget:</mat-label>
            <input matInput type="number" formControlName="totalBudget">
        </mat-form-field>

        <div class="d-flex flex-column" formGroupName="owner">
            <span class="mb-2">Owner</span>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>

        </div>

        <div class="d-flex flex-column" formGroupName="location">
            <span class="mb-2">Location</span>
            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input matInput type="number" formControlName="lat">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input matInput type="number" formControlName="lon">
            </mat-form-field>

        </div>
      
    </div>

    <div class="d-flex w-100 justify-content-end"> 
        <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        <button 
            class="ml-2"
            mat-raised-button 
            color="primary" 
            [disabled]="!dealershipForm.valid"
            (click)="createUpdateForm()"
        >{{ isUpdate === true ? "Update" : "Create" }}</button>
    </div>
    
</div>
