<div >
<a mat-button [routerLink]="['/dealerships']">Back</a>
<div id="map"></div>
<div class="popup-overlay" id="popup" (click)="gotoDealership()">
    <span>Name: {{selectedDealership?.name || ''}}</span>
    <span>Amount of Cars: {{selectedDealership?.amountCars || 0}}</span>
    <span>Total Budget: {{selectedDealership?.totalBudget || 0 | currency}}</span>
</div>

</div>

