#map {
    width: 100%;
    height: 80vh;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    background-color: rgba(202, 187, 120, 0.226);
    border-radius: 5px;
    font-weight: 500;
}