<div class="ds-containter">
    <div class="d-flex justify-content-between align-items-center mx-3">
        <div>
            <a class="mr-2" mat-raised-button [routerLink]="['/map']" color="accent" >Map</a>
            <mat-form-field appearance="standard">
                <mat-label>Search Dealership</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Dealerships..." #input>
            </mat-form-field>
        </div>
        <div>
            <button (click)="createDealership()" class="btn btn-success" type="button">Create Dealership</button>
        </div>
    </div>
    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="remainingBudget">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Budget </th>
            <td mat-cell *matCellDef="let element"> {{element.remainingBudget | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="totalBudget">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Budget </th>
            <td mat-cell *matCellDef="let element"> {{element.totalBudget | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="amountCars">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount of Cars </th>
            <td mat-cell *matCellDef="let element"> {{element.amountCars}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="updateDealership(element)">Update</button>
                <a mat-button [routerLink]="['/dealerships',element.id]" color="primary">Cars</a>
                <button class="ml-2" mat-button color="warn" [swal]=" { 
                        title: 'Are you sure you want to delete this dealership?', 
                        icon: 'question',
                        showCancelButton: true
                      }" (confirm)="deleteDealership(element)">
                    Delete</button>
                
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>