<div class="ds-containter">

    <div class="d-flex justify-content-between align-items-center mx-3">
        <div>
            <a class="mr-2" mat-button [routerLink]="['/dealerships']">Back</a>
            <mat-form-field appearance="standard">
                <mat-label>Search Car</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Car..." #input>
            </mat-form-field>
        </div>
        <div>
            <button (click)="createCar()" class="btn btn-success" type="button">Create Car</button>
        </div>
    </div>

    

    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>

        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="updateCar(element)">Update</button>
                <button class="ml-2" mat-button color="warn" [swal]=" { 
                        title: 'Are you sure you want to delete this car?', 
                        icon: 'question',
                        showCancelButton: true
                      }" (confirm)="deleteCar(element)">
                    Delete</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>