<div class="ds-container" >
    <h3>{{ isUpdate === true ? "Update" : "Create" }} Car</h3>
    <div class="d-flex flex-column" [formGroup]="carForm" (ngSubmit)="createUpdateForm()">

        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <input matInput type="text" formControlName="brand">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Model:</mat-label>
            <input matInput type="text" formControlName="model">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Color:</mat-label>
            <input matInput type="text" formControlName="color">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price:</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>


      
    </div>

    <div class="d-flex w-100 justify-content-end"> 
        <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        <button 
            class="ml-2"
            mat-raised-button 
            color="primary" 
            [disabled]="!carForm.valid"
            (click)="createUpdateForm()"
        >{{ isUpdate === true ? "Update" : "Create" }}</button>
    </div>
    
</div>
